<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Менеджеры</title>
</head>
<body>
    <div class="head">
        <a class="head_left" href="#">Sanrijapan.com</a>
        <a class="head_right" href="#">Admin</a>
    </div>
    <div class="nav" id="nav">
        <div><img onclick="nav_burger()" class="burger" id="burger" src="../../icons/bars-solid.svg"></div>
        <a class="nav_item  " href="../common_base/index.html"><img class="nav_item_icon" src="../../icons/database-solid.svg"><span >Общая база</span></a>
        <a class="nav_item" href="../client/client.html"><img class="nav_item_icon" src="../../icons/user-solid.svg"><span>Клиенты</span></a>
        <a class="nav_item" href="../container/container.html"><img class="nav_item_icon" src="../../icons/crane.svg"><span>Контейнеры</span></a>
        <a class="nav_item" href="../shop/shop.html"><img class="nav_item_icon" src="../../icons/worldwide-shipping.svg"><span>Магазин</span></a>
        <a class="nav_item" href="../auction/auction.html"><img class="nav_item_icon" src="../../icons/auction.svg"><span>Аукционы</span></a>
        <a class="nav_item" href="../car/car.html"><img class="nav_item_icon" src="../../icons/car.svg"><span>Машины</span></a>
        <a class="nav_item" href="../income/income.html"><img class="nav_item_icon" src="../../icons/money-bag-with-dollar-symbol.svg"><span >Доходы</span></a>
        <a class="nav_item" href="../monthly_payment/monthlyPayment.html"><img class="nav_item_icon" src="../../icons/eje_oplat.svg"><span >Ежемесячные оплаты</span></a>
        <a class="nav_item" href="#"><img class="nav_item_icon" src="../../icons/icon_n1.svg"><span >Зарплата сотрудников</span></a>
        <a class="nav_item" href="../employee/employee.html"><img class="nav_item_icon" src="../../icons/icon_n2.svg"><span >Сотрудники</span></a>
        <a class="nav_item _active" href="manager.html"><img class="nav_item_icon" src="../../icons/light-bulb.svg"><span class="left_active">Менеджеры</span></a>
        <a class="nav_item" href="#"><img class="nav_item_icon" src="../../icons/trend.svg"><span>Статистика</span></a>
    </div>
    <br>
    <div id="main_container" class="main_container">
        <div class="heard">
            <div class="heard_left">
                <a href="#" class="i_span i_span_left left_active">Добавить пользователя</a>
            </div>
            <div class="heard_right">
                <a href="manager.html" class="i_span  i_span_active">Менеджеры</a>  
                <img src="../../icons/angle-right-solid.svg" class="icon_st" alt="">
                <a href="#" class="i_span ">Добавить пользователя</a>   
            </div>
        </div>
        <div class="main main_bay">
            <br>
            <form>
                <label for="name">ФИО</label>
                <input type="text" placeholder="фио" id="name" class="form-control">
                <label for="log">Логин</label>
                <input type="text" id="log" class="form-control" placeholder="логин">
                <label for="password">Пароль</label>
                <input type="password" placeholder="пароль" id="password" class="form-control">
                <label for="passwordRepass">Повторите пароль</label>
                <input type="password" placeholder="повторите пароль" id="passwordRepass" class="form-control">
                <label for="rol">Роль</label>
                <input type="text" placeholder="роль" id="rol" class="form-control">
                <br>
                <div class="btn_right">
                <input id="ManagePostAdd" type="submit" value="Сохранить" class="btn btn-success mb-4 ">
                <input type="button" value="Отмена" class="btn btn-secondary ml-3 mb-4">
                </div>
            </form>
            <br><br><br>
            <div class="scroll">
                <table class="table  table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>ФИО</th>
                            <th>Логин</th>
                            <th>Пароль</th>
                            <th>Роль</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id='ManagerTable'></tbody>
                </table><br>
            </div>
        </div><br><br>
    </div>

    <div id="add_modal">
        <div class="modal_container">
            <span onclick="CloseModal()" class="close">&times;</span>
            <h3 style="text-align: center;">Редактировать</h3><br><br>
            <form id="addInput"></form>
        </div>
    </div>

    <script src="../../js/index.js"></script>
    <script src="../../js/url.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <script type="text/javascript">
        var carList = document.getElementById('ManagerTable');

        var modal = document.getElementById("add_modal");
        var inputAdd = document.getElementById("addInput");

        $.ajax({
            type: "GET",
            url: httpBaseUrl + "/api/Employee",
            success: function (response) {
                response.forEach(function(element, index){
                    carList.innerHTML += 
                        '<tr>'+
                            '<td class="align-middle">'+(index+1)+'</td>'+
                            '<td class="align-middle">'+element.fullName+'</td>'+
                            '<td class="align-middle">'+element.username+'</td>'+
                            '<td class="align-middle">********</td>'+
                            '<td class="align-middle">'+element.role+'</td>'+
                            '<td>'+
                                '<button class="btn btn-primary" onclick="UpdateGet('+element.id+')">Редактировать</button>'+
                                '<button onclick="DeleteManage('+element.id+')" class="btn btn-danger ml-3">Удалить</button>'+
                            '</td>'+
                        '</tr>';
                    }); 
            },
            error: function (data) {
                console.log('An error occurred.');
                console.log(data);
            },
        });


        $('#ManagePostAdd').click(function (e) {
            e.preventDefault();
            var datajson = {
                "fullName": document.getElementById('name').value,
                "username": document.getElementById('log').value,
                "password": document.getElementById('password').value,
                "confirmPassword": document.getElementById('passwordRepass').value,
                "role": document.getElementById('rol').value
            };
            $.ajax({
                type: "POST",
                url: httpBaseUrl + "/api/Employee/",
                data: JSON.stringify(datajson),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    console.log('Submission was successful.');
                    console.log(data);
                    console.log(datajson);
                    window.location.reload();
                },
                error: function (data) {
                    console.log('An error occurred.');
                    console.log(data);
                    console.log(datajson);
                },
            });
        });

        function DeleteManage(id) {
            $.ajax({
                type: "DELETE",
                url: httpBaseUrl + "/api/Employee/"+id,
                success: function (data) {
                    console.log('Submission was successful.');
                    console.log(data);
                    window.location.reload();
                },
                error: function (data) {
                    console.log('An error occurred.');
                    console.log(data);
                },
            });
        
        };

        function UpdateGet(id){
            modal.style.display = 'block';
            $.ajax({
                type: "GET",
                url: httpBaseUrl + "/api/Employee/"+id,
                success: function (response) {
                    console.log('Submission was successful.');
                    inputAdd.innerHTML += 
                        '<label>ФИО:</label>'+
                        '<input id="addText" class="form-control" value="'+response.fullName+'" type="text">'+
                        '<label>Логин:</label>'+
                        '<input id="addText1" class="form-control" value="'+response.username+'" type="text">'+
                        '<label>Пароль:</label>'+
                        '<input id="addText2" class="form-control" value="'+response.password+'" type="text">'+
                        '<label>Повторите пароль:</label>'+
                        '<input id="addText3" class="form-control" value="'+response.confirmPassword+'" type="text">'+
                        '<label>Роль:</label>'+
                        '<input id="addText4" class="form-control" value="'+response.role+'" type="text">'+
                    '<button type="button" onclick="clickPutAdd('+response.id+')" class="btn btn-primary m-4 float-right">Обновить</button>'
                    console.log(response);
                },
                error: function (response) {
                    console.log('An error occurred.');
                    console.log(response);
                },
            });
        };
        function clickPutAdd(id){
            var datajson = {
                "fullName": document.getElementById('addText').value,
                "username": document.getElementById('addText1').value,
                "password": document.getElementById('addText2').value,
                "confirmPassword": document.getElementById('addText3').value,
                "role": document.getElementById('addText4').value
            };
            $.ajax({
                type: "PUT",
                url: httpBaseUrl + "/api/Employee/"+id+"/",
                data: JSON.stringify(datajson),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    console.log('Submission was successful.');
                    console.log(data);
                    window.location.href = 'manager.html';
                },
                error: function (data) {
                    console.log('An error occurred.');
                    console.log(data);
                },
            });
        };
        function CloseModal(){
            modal.style.display = "none";
            inputAdd.innerHTML = '';
        }
    </script>
</body>
</html>

