<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Клиент</title>
</head>
<body>
    <div class="head">
        <a class="head_left" href="#">Sanrijapan.com</a>
        <a class="head_right" href="#">Admin</a>
    </div>
    <div class="nav" id="nav">
        <div><img onclick="nav_burger()" class="burger" id="burger" src="../../icons/bars-solid.svg"></div>
        <a class="nav_item  " href="../common_base/index.html"><img class="nav_item_icon" src="../../icons/database-solid.svg"><span >Общая база</span></a>
        <a class="nav_item _active" href="client.html"><img class="nav_item_icon" src="../../icons/user-solid.svg"><span class="left_active">Клиенты</span></a>
        <a class="nav_item" href="../container/container.html"><img class="nav_item_icon" src="../../icons/crane.svg"><span>Контейнеры</span></a>
        <a class="nav_item" href="../shop/shop.html"><img class="nav_item_icon" src="../../icons/worldwide-shipping.svg"><span>Магазин</span></a>
        <a class="nav_item" href="../auction/auction.html"><img class="nav_item_icon" src="../../icons/auction.svg"><span>Аукционы</span></a>
        <a class="nav_item" href="../car/car.html"><img class="nav_item_icon" src="../../icons/car.svg"><span>Машины</span></a>
        <a class="nav_item" href="../income/income.html"><img class="nav_item_icon" src="../../icons/money-bag-with-dollar-symbol.svg"><span >Доходы</span></a>
        <a class="nav_item" href="../monthly_payment/monthlyPayment.html"><img class="nav_item_icon" src="../../icons/eje_oplat.svg"><span >Ежемесячные оплаты</span></a>
        <a class="nav_item" href="#"><img class="nav_item_icon" src="../../icons/icon_n1.svg"><span >Зарплата сотрудников</span></a>
        <a class="nav_item" href="../employee/employee.html"><img class="nav_item_icon" src="../../icons/icon_n2.svg"><span >Сотрудники</span></a>
        <a class="nav_item" href="../manager/manager.html"><img class="nav_item_icon" src="../../icons/light-bulb.svg"><span class="">Менеджеры</span></a>
        <a class="nav_item" href="#"><img class="nav_item_icon" src="../../icons/trend.svg"><span>Статистика</span></a>
    </div>
    <br>
    <div id="main_container" class="main_container">
        <div class="heard">
            <div class="heard_left">
                <a href="#" class="i_span i_span_left">Добавить клиента</a>
            </div>
            <div class="heard_right">
                <a href="client.html" class="i_span i_span_active">Клиент</a>  
                <img src="../../icons/angle-right-solid.svg" class="icon_st" alt="">
                <a href="#" class="i_span i_span">Добавить клиента</a>
            </div>
        </div>
        <div class="main main_bay">
            <br>
            <form>
                <label for="name">Имя</label>
                <input type="text" placeholder="имя" id="name" class="form-control">
                <label for="strana">Страна</label>
                <input type="text" placeholder="страна" id="strana" class="form-control">
                <label for="email">Email</label>
                <input type="email" placeholder="email" id="email" class="form-control">
                <label for="num">WhatsApp num</label>
                <input type="number" placeholder="watsapp num" id="num" class="form-control">
                <label>Услуга</label><br>
                    <input id="service1" class="parking" name="service" type="radio" value="Разбор">
                    <label class="radio_button m-1" for="service1">Разбор</label>
                    <input id="service2" class="parking" name="service" type="radio" value="Целиком">
                    <label class="radio_button m-1" for="service2">Целиком</label><br>
                <label>По какой цене</label><br>
                    <input id="atWhatPrice1" class="parking" name="whatprice" type="radio" value="По факту">
                    <label class="radio_button m-1" for="atWhatPrice1">По факту</label>
                    <input id="atWhatPrice2" class="parking" name="whatprice" type="radio" value="FOB">
                    <label class="radio_button m-1" for="atWhatPrice2">FOB</label><br><br>
                <label for="fob">Размер FOB</label>
                <input type="number" placeholder="год" id="fob" class="form-control">
                <label for="login">Логин</label>
                <input type="text" placeholder="логин" id="login" class="form-control">
                <label for="password">Пароль</label>
                <input type="password" placeholder="пароль" id="password" class="form-control">
                <label for="confirmPassword">Подтвердите пароль</label>
                <input type="password" placeholder="Подтвердите пароль" id="confirmPassword" class="form-control">
                <br>
                <div class="btn_right">
                    <input type="submit" id="ClientPostAdd" value="Сохранить" class="btn btn-success mb-4 ">
                    <input type="submit" value="Отмена" class="btn btn-secondary ml-3 mb-4">
                </div>
                <br><br><br>
            </form>
        </div>
    </div>
    <script src="../../js/index.js"></script>
    <script src="../../js/url.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <script type="text/javascript">
        $('#ClientPostAdd').click(function (e) {
            e.preventDefault();
            var datajson = {
                "fullName":  document.getElementById('name').value,
                "country":  document.getElementById('strana').value,
                "email":  document.getElementById('email').value,
                "phoneNumber":  document.getElementById('num').value,
                "service":  document.querySelector('input[name="service"]:checked').value,
                "atWhatPrice":  document.querySelector('input[name="whatprice"]:checked').value,
                "sizeFOB":  document.getElementById('fob').value,
                "username":  document.getElementById('login').value,
                "password":  document.getElementById('password').value,
                "confirmPassword":  document.getElementById('confirmPassword').value
            };
            console.log(datajson);
            $.ajax({
                type: "POST",
                url: httpBaseUrl + "/api/Client/",
                data: JSON.stringify(datajson),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    console.log('Submission was successful.');
                    console.log(data);
                    console.log(datajson);
                    window.location.href = 'client.html';
                },
                error: function (data) {
                    console.log('An error occurred.');
                    console.log(data);
                    console.log(datajson);
                },
            });
        });
    </script>
</body>
</html>